* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

caption {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.sales-table {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    padding: 5px;
}
.sales-table th {
    border: 1px solid #c0c0c0;
    padding: 5px;
    background: #f0f0f0;
}
.sales-table td {
    border: 1px solid #c0c0c0;
    padding: 5px;
}
